.info-alert {
    border: 1px solid rgba($--color-primary, 0.5);
    &.is-light {
        background-color: rgba($--color-primary, 0.1);
    }
    .el-alert__content {
        padding: 0;
    }
    .el-alert__description {
        margin: 0;
        i {
            color: $--color-primary;
            font-size: $--font-size-base;
            margin-right: 4px;
        }
        span {
            margin: 0 4px;
        }
    }
}
