/**
 * 需要覆盖elementui的样式
 */
#app {
    .main-container {
        color: $--color-black;
        height: 100%;
        transition: margin-left 0.28s;
        margin-left: $--side-bar-width;
        position: relative;
    }
    .sidebar-container {
        transition: width 0.28s;
        width: $--side-bar-width !important;
        background-color: $--menu-background-color;
        height: 100%;
        position: absolute;
        font-size: 0px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;
        box-shadow: $--menu-shadow;
        // reset element-ui css
        .horizontal-collapse-transition {
            transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }

        .scrollbar-wrapper {
            overflow-x: hidden !important;
        }

        .el-scrollbar__bar.is-vertical {
            right: 0px;
        }

        .el-scrollbar {
            height: 100%;
        }

        &.has-logo {
            .el-scrollbar {
                height: calc(100% - 50px);
            }
        }

        .is-horizontal {
            display: none;
        }

        a {
            display: inline-block;
            width: 100%;
            overflow: hidden;
        }

        .svg-icon {
            margin-right: 16px;
            vertical-align: middle;
        }

        .el-menu {
            border: none;
            height: 100%;
            width: 100% !important;
        }

        // menu hover
        .submenu-title-noDropdown,
        .el-submenu__title {
            &:hover {
                color: $--color-primary !important;
            }
        }

        & .nest-menu .el-submenu > .el-submenu__title,
        & .el-submenu .el-menu-item {
            min-width: $--side-bar-width !important;
            background-color: $--sub-menu-bg !important;
            &:hover {
                color: $--color-primary !important;
                background-color: $--sub-menu-hover !important;
            }
            &.is-active {
                background-color: $--menu-active-bg !important;
            }
        }
        & .el-menu-item.submenu-title-noDropdown {
            &.is-active {
                background-color: $--menu-active-bg !important;
            }
        }
    }
    .hideSidebar {
        .sidebar-container {
            width: $--hide-bar-width !important;
        }
        .main-container {
            margin-left: 54px;
        }
        .svg-icon {
            margin-right: 0px;
        }

        .submenu-title-noDropdown {
            padding: 0 !important;
            position: relative;

            .el-tooltip {
                padding: 0 !important;

                .svg-icon {
                    margin-left: 20px;
                }
            }
        }

        .el-submenu {
            overflow: hidden;

            & > .el-submenu__title {
                padding: 0 !important;

                .svg-icon {
                    margin-left: 20px;
                }

                .el-submenu__icon-arrow {
                    display: none;
                }
            }
        }

        .el-menu--collapse {
            .el-submenu {
                & > .el-submenu__title {
                    & > span {
                        height: 0;
                        width: 0;
                        overflow: hidden;
                        visibility: hidden;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .el-menu--collapse .el-menu .el-submenu {
        min-width: $--side-bar-width !important;
    }
}

// when menu collapsed
.el-menu--vertical {
    & > .el-menu {
        .svg-icon {
            margin-right: 16px;
        }
    }
    > .el-menu--popup {
        max-height: 100vh;
        overflow-y: auto;

        &::-webkit-scrollbar-track-piece {
            background: #d3dce6;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: #99a9bf;
            border-radius: 20px;
        }
    }
}
